@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-white;
  }
  h2 {
    @apply text-2xl;
  }
}
@layer components {
  .tooltip {
    --tooltip-color: #000;
    --tooltip-text-color: #fff;
  }
  .menu li > *:not(ul):not(.menu-title):not(details):active {
    @apply bg-black-gray;
    @apply text-white;
  }
}
